/* html dan body mengisi tinggi 100% */
html,
body {
  height: 100%;
  margin: 0;
}

/* Main section mengambil ruang tersisa */
main {
  flex: 2;
}

/* Gaya untuk h1 */
h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* Gaya untuk h2 */
h2 {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

/* Efek transisi untuk kartu */
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Efek saat hover pada kartu */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Gambar dalam kartu */
.card-img-top {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

/* Styling footer */
footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

/* Gaya untuk link di footer */
footer a {
  color: #ffffff;
}

footer a:hover {
  text-decoration: none;
  color: #f8f9fa;
}

/* Gaya untuk garis pemisah */
hr {
  border-color: #ffffff;
}
